*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol[class] {
  list-style: none;
  padding: 0;
}

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
:root {
  --theme-bg: var(--cloudy-1);
}

body {
  background-color: bisque;
  color: white;
  width: 100%;
  max-width: 428px;
  font-family: "Poppins", sans-serif;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 61px;
}
.weather-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 386px;
  width: 360px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #CAD7DF;
  border-radius: 35px;
  background: #91B4C6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}
.weather-card__now {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}
.weather-card__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
}
.weather-card__temp {
  display: flex;
  align-items: center;
  gap: 20px;
}
.weather-card__temp--title {
  font-weight: 500;
  font-size: 100px;
  line-height: 150px;
  letter-spacing: 0px;
}
.weather-card__temp--title span {
  position: relative;
  bottom: 20px;
  vertical-align: super;
  margin-left: -20px;
  font-size: 50px;
  font-weight: 500;
  line-height: 15px;
}
.weather-card__icon {
  width: 96px;
  height: 75px;
}
.weather-card__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: 15px;
  line-height: 22px;
  gap: 15px;
  margin-bottom: 15px;
}
.weather-card__desc {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.weather-card__inf {
  font-size: 15px;
  gap: 50px;
}

.weather-card__today {
  width: 360px;
  margin: 27px 34px 50px 34px;
  background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(145, 180, 198, 0.525) 0%, rgba(145, 180, 198, 0.225) 100%);
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
  border-radius: 25px;
}
.weather-card__today ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  row-gap: 40px;
  place-items: center;
  font-size: 15px;
  position: relative;
  padding: 20px;
}
.weather-card__today ul::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 75%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.weather-card__today h4 {
  font-weight: 100 !important;
}

.mini-forecast span {
  display: flex;
  justify-content: space-evenly;
  gap: 4px;
  padding-right: 3px;
}

.footer {
  max-width: 360px;
  font-weight: 600;
  margin-bottom: 54px;
}
.footer__title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
.footer__quote {
  font-size: 15px;
  line-height: 22px;
  overflow-wrap: break-word;
  color: #FFFFFF;
  opacity: 0.75;
}/*# sourceMappingURL=main.css.map */