.footer {
    font-weight: 600;

    &__title {
    margin: 0 0px 50px 60px;
    
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 10px;
    }

    &__quote {
    margin: 0 45px 50px 60px ;
    
    font-size: 15px;
    line-height: 22px;
    overflow-wrap: break-word;

    color: #FFFFFF;

    opacity: 0.75;

    }
}
