.footer {
    max-width: 360px;
    font-weight: 600;

    margin-bottom: 54px;
    &__title {
    
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 10px;
    }

    &__quote {
    
    font-size: 15px;
    line-height: 22px;
    overflow-wrap: break-word;

    color: #FFFFFF;

    opacity: 0.75;

    }
}
