.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 61px;

    
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 386px;
    width: 360px;

        
        font-weight: 500;
        font-size: 25px;
        line-height: 38px;
        
        color: #CAD7DF;
        
        border-radius: 35px;
        background: #91B4C6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 35px;
    
    }

    &__now {
       display: flex; 
       align-items: center;

       gap: 15px;
       margin-top: 25px;
    }

    &__title {
        font-weight: 500;
        font-size: 25px;
        line-height: 38px;
    }

    &__temp {
        display: flex ;
        align-items: center;

        gap: 20px;

         &--title {
         font-weight: 500;
         font-size: 100px;
         line-height: 150px;
         letter-spacing : 0px;

         span {
            position: relative;
            bottom: 20px;
            vertical-align : super;
            margin-left: -20px;

            font-size : 50px;
            font-weight : 500;
            line-height : 15px;

         }

         }


    }

    &__icon {
        width: 96px;
        height: 75px;
    }

    &__day {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        height: 100%;

        font-size: 15px;
        line-height: 22px;

        gap: 15px;
        margin-bottom: 15px;
    }

    &__desc {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }

    &__inf {
        font-size: 15px;

        gap: 50px;
    }
}

