.weather-card__today {
  width: 360px;
  margin: 27px 34px 50px 34px;

  background: radial-gradient(
      97.57% 210.75% at 0.9% 2.98%,
      rgba(145, 180, 198, 0.525) 0%,
      rgba(145, 180, 198, 0.225) 100%
    );

    backdrop-filter: blur(21px);
    border-radius: 25px;
   
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    row-gap: 40px;
    place-items: center;

    font-size: 15px;

    position: relative;
    padding: 20px;
  }
  ul::after {
  content: ''; 
  position: absolute;
  top: 50%; 
  
  width: 75%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3); 
  }

  h4 {
    font-weight: 100 !important;
  }
}

.mini-forecast {
  span {
    display: flex;
    justify-content: space-evenly;
    
    gap: 4px;
    padding-right: 3px;
  }
}